@layer reset {

    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin: 0;
        padding: 0;
    }

    * {

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
    }

    img,
    picture {
        max-inline-size: 100%;
        display: block;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }
}

@layer base {
    :root {
        --primary-green-500: hsl(158, 36%, 37%);
        --primary-green-700: hsl(158, 42%, 18%);
        --neutral-black: hsl(212, 21%, 14%);
        --neutral-grey: hsl(228, 12%, 48%);
        --neutral-cream: hsl(30, 38%, 92%);
        --neutral-white: hsl(0, 0%, 100%);

        --ff-heading: "Fraunces", serif;
        --ff-body: "Montserrat", sans-serif;

        --fs-200: .75rem;
        --fs-300: .813rem;
        --fs-400: .875rem;
        --fs-500: 2rem;
    }



    body {
        background-color: var(--neutral-cream);
        display: grid;
        place-items: center;
        font-size: var(--fs-400);
        font-family: var(--ff-body);
        font-weight: 500;
        color: var(--neutral-grey);
        height: 100vh;
    }

}

@layer components {
    .product-card {
        background-color: var(--neutral-white);
        width: 350px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 340px auto;
        border-radius: 0.5rem;
        margin-top: 2rem;
        overflow: hidden;
    }

    .product-image {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .product-image img {
        scale: 1.1;
        position: absolute;
        top: -2rem;
    }

    .product-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        padding: 2rem;
    }

    .product-category {
        font-size: var(--fs-200);
        text-transform: uppercase;
        line-height: 1.2;
        letter-spacing: 5px;
        text-shadow: 0 0 1px var(--neutral-grey);
    }

    .product-title {
        font-size: var(--fs-500);
        color: var(--neutral-black);
        font-family: var(--ff-heading);
        line-height: 1;
        font-weight: 700;
        text-shadow: 0 0 1px var(--neutral-black);
    }

    .product-description {
        line-height: 1.6;
        text-shadow: 0 0 1px var(--neutral-grey);
    }

    .product-price {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .product-price .current-price {
        font-size: var(--fs-500);
        color: var(--primary-green-500);
        font-family: var(--ff-heading);
        font-weight: 700;
        text-shadow: 0 0 1px var(--primary-green-500);
    }

    .product-price .original-price {
        font-size: var(--fs-300);
        line-height: 1.2;
        text-decoration: line-through;
        text-shadow: 0 0 1px var(--neutral-grey);
    }

    button {
        width: 100%;
        border-radius: 0.5rem;
        background-color: var(--primary-green-500);
        color: var(--neutral-white);
        font-weight: 700;
        line-height: 1.1;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border: none;
        cursor: pointer;
        text-shadow: 0 0 1px var(--neutral-white);

        &:hover,
        &:active {
            background-color: var(--primary-green-700);
        }
    }

    @media (width > 768px) {
        .product-card {
            grid-template-columns: 300px 300px;
            width: fit-content;
            grid-template-rows: auto;
        }

        .product-content {
            gap: 2rem;
        }

        .product-image img {
            object-fit: fill;
            top: 10px;
        }
    }
}